* {
  padding: 0;
  margin: 0;
}
#banner {
  background-image: url("../assets/Hero-bg.png");
  background-position: center;
  background-size: cover;
  height: 400px;
}
.banner-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-img img {
  width: 150px;
  margin-top: 18px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}
.title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 36px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
}
.description {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 15px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  padding: 10px 15px 10px 15px;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  background: rgb(13, 19, 33);
}
.title-area {
  margin-top: 60px;
  margin-bottom: 40px;
}
.title-develop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-develop .title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 28px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.title-develop .description {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  width: 900px;
}

.learn-code {
  position: static;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 48px;
}
.code-title {
  width: 500px;
}

.code-title h2,
p {
  margin-bottom: 13px;
}
.btn-learn {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: start;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  padding: 8px;
  border-radius: 5px;
}
